.history
.vscode
.vs
bin
ErrorLog
node_modules
obj
*.db
wwwroot
_backup
.angular

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
Client/src/app/data-list/